@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--vt-c-white);
  background: var(--vt-c-black);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

[contentEditable]:focus {
  outline: none;
}

#app {
  height: 100vh;
}

.bgfadeWhite {
  background-color: #f1f1f1bf;
}

.modal {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--vt-c-black);
  opacity: 0.9;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.9;
  }
}

[draggable] {
  cursor: all-scroll;
}

button {
  text-align: left;
}

[data-dropzone] button {
  cursor: pointer !important;
}

[data-dropzone] .active {
  border: 1px dashed #f1f1f1;
}

[data-dropzone] button {
  border: inherit;
  height: 100%;
  border-radius: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  font-weight: inherit;
  text-align: center;
}

[data-dropzone] input {
  border: inherit;
  height: 100%;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  font-weight: inherit;
}

[data-dropzone] input::placeholder {
  color: #dad8d8;
  font-weight: 500;
  font-size: 1rem;
}

[data-dropzone] h1 {
  cursor: auto !important;
  width: inherit;
  height: inherit;
}

[data-dropzone] img {
  width: inherit !important;
  height: inherit !important;
  border-radius: inherit;
}

[data-dropzone] svg {
  color: inherit;
}

[data-select] {
  appearance: none;
}

[data-dropzone] [data-select] {
  appearance: auto;
  cursor: pointer;
}

[data-dropzone] select {
  border: inherit;
  height: 100%;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  font-weight: inherit;
}

select:disabled {
  opacity: 1 !important;
}

input:disabled {
  background-color: transparent;
}

textarea:disabled {
  background-color: transparent;
  resize: none;
}

[draggable]::placeholder {
  opacity: 1;
  color: black;
}

.icons {
  color: black;
}

ol li {
  list-style: auto !important;
}

ul li {
  list-style-type: disc !important;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

[data-dropzone] img[draggable] {
  cursor: auto;
}
